*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc{
    width: 400px;
    padding: 0.5em;
    background-color: white;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: 1em;
    font-weight: 500;
    color: #ff4500;
}

#operations{
    text-align: right;
}

#previous-operation{
    color: black;
    padding: 0.2em;
    overflow-wrap: break-word ;
    min-height: 1.6em;
}

#current-operation{
    color: #ff4500;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word ;
    min-height: 1.6em;
}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#buttons-container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#buttons-container .number {
    background-color: #f3f3f3;
}

#buttons-container button:hover {
    background-color: #708090;
    border-color: #708090;
}

#buttons-container #equal-btn{
    grid-column: span 2;
    background-color: #ff4500;
    color: white;

}

#buttons-container #equal-btn:hover {
    grid-column: span 2;
    background-color: #708090;
  }